@use "../../base";

.project-spindr {
  position: relative;
  padding: 6rem 4rem 0rem 4rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
  overflow-x: hidden;
}
@media screen and (max-width: 1000px) {
  .project-spindr {
    flex-direction: column;
  }
}
@media screen and (max-width: base.$mobile-breakwidth) {
  .project-spindr {
    padding: 6rem 1rem 0rem 1rem;
  }
}

.project-spindr > .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 23.5rem;
}

.project-spindr > .right {
  position: relative;
  height: 40rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: base.$mobile-breakwidth) {
  .project-spindr > .right {
    height: 30rem;
    font-size: small;
  }
}
.project-spindr > .right::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to left,
    base.$bg-color,
    #00000000,
    base.$bg-color
  );
  z-index: 1;
  pointer-events: none;
}

.project-spindr .title {
  @extend %gradient-text;
  max-width: 38rem;
  font-size: 3rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.project-spindr .description {
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  max-width: 32rem;
  color: base.$secondary-text-color;
}

.project-spindr .video-container {
  position: relative;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}
.project-spindr .video {
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 30px 20px base.$bg-color;
  transition: height 0.25s ease;
}
.project-spindr .play-button {
  position: absolute;
  text-align: center;
  height: 2.5rem;
  top: 0;
  left: 25%;
  right: 25%;
  padding: 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 500;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  box-shadow: 0px 0px 100px 30px base.$bg-color;
  pointer-events: none;
}
.project-spindr .shot {
  height: 85%;
}

.project-spindr .link {
  width: fit-content;
  margin-top: 2rem;
}
.project-spindr .launch-button {
  background-color: #994aff;
  font-size: 1.2rem;
  font-weight: 500;
  width: fit-content;
  padding: 1rem;
  color: white;
  display: flex;
  gap: 1rem;
  height: 4rem;
  align-items: center;
  border-radius: 0.5rem;
}
.project-spindr .icon {
  height: 100%;
}

.project-spindr .gear1 {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: -1;
  top: 30px;
  left: -120px;
  display: none;
}

.project-spindr .gear-image {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  filter: blur(10px);
}
@media screen and (max-width: 1000px) {
  .project-spindr .gear1 {
    left: auto;
    top: 70px;
    right: -120px;
  }
}
