@use "../../base";

.engineering-principle {
  position: relative;
  border: solid 1px base.$secondary-text-color;
  border-radius: 0.5rem;
  height: 25rem;
  min-width: 20rem;
  background-color: base.$bg-accent-color;
  z-index: 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
  transition: scale 0.2s ease;
}
.engineering-principle:hover {
  scale: 1.025;
}
.engineering-principle:active {
  scale: 1.025;
}
.engineering-principle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  background-image: url("/resources/line-in-motion.svg");
  opacity: 0.025;
  z-index: 0;
}
.engineering-principle::after {
  content: "";
  position: absolute;
  top: 0;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle farthest-corner at 50% 80%,
    #0000002b,
    base.$bg-accent-color 40%
  );
  z-index: 1;
}

.engineering-principle .top {
  position: relative;
  padding: 1.5rem 1rem 1rem 1rem;
  z-index: 2;
  width: 100%;
}

.engineering-principle .title {
  @extend %gradient-text;
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
}

.engineering-principle .description {
  color: base.$secondary-text-color;
  font-size: 0.875rem;
  margin-top: 1rem;
  width: 100%;
}

.engineering-principle .bottom {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  height: 16rem;
  padding: 1rem;
  z-index: 0;
}

.engineering-principle .image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.8;
}
.engineering-principle:hover .image {
  animation: pulse 2s ease-in-out infinite;
}
.engineering-principle:active .image {
  animation: pulse 2s ease-in-out infinite;
}
