@use "./base";
@use "./animations";

@font-face {
  font-family: Inter;
  src: url("../resources/Inter.ttf");
}

html {
  /* Add fallback fonts */
  font-family: Inter;
  background-color: base.$bg-color;
  color: base.$primary-text-color;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

@media screen and (min-width: base.$max-width-page) {
  #root {
    width: base.$max-width-page;
  }
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 16px;
}
@media screen and (max-width: base.$mobile-breakwidth) {
  *::-webkit-scrollbar {
    width: 8px;
  }
}
*::-webkit-scrollbar-thumb {
  background-color: base.$bg-accent-color;
}

*::-webkit-scrollbar-track {
  background: base.$bg-color;
}

.primary {
  color: base.$primary-text-color;
}

a {
  @extend %clickable;
  color: base.$secondary-text-color;
  text-decoration: none;
}
@media (hover: hover) {
  a:hover {
    color: base.$primary-text-color;
  }
}
a:active {
  color: base.$primary-text-color;
}
a:hover .primary {
  color: base.$secondary-text-color;
}

button {
  padding: 1rem;
  border-radius: 99999px;
  border: none;
  background: linear-gradient(to right, base.$bg-accent-color, base.$bg-color);
  color: base.$primary-text-color;
  font-size: 0.8rem;
  pointer-events: none;
}

.button-container {
  @extend %clickable;
  @extend %no-text-select;
  padding: 1px;
  border-radius: 99999px;
  background-image: linear-gradient(
    to right,
    base.$secondary-text-color,
    base.$bg-color
  );
}
@media (hover: hover) {
  .button-container:hover {
    background-image: linear-gradient(
      to right,
      base.$secondary-text-color,
      base.$secondary-text-color
    );
  }
}
.button-container:active {
  background-image: linear-gradient(
    to right,
    base.$secondary-text-color,
    base.$secondary-text-color
  );
}
